Repository PYLP-UNaM/PYLP, pull requests merged in 2022-10, with the labels that each got.

#744 Update 2022 with changes in doc
  docs/lineamientos_entrega.md
Labels: documentation

#733 solución Ejercicio 1 - Antoniak
  unidad_1/ejercicio_1/holaMundo_antoniak.pfc
Labels: Unidad 1 - Pascal

#741 solución Ejercicio 3 - Antoniak
  unidad_1/ejercicio_3/ejercicio_3_antoniak.pfc
Labels: Unidad 1 - Pascal

#746 solución Ejercicio 4 - Antoniak
  unidad_1/ejercicio_4/ejercicio_4_antoniak.pfc
Labels: Unidad 1 - Pascal

#747 solución Ejercicio 5 - Antoniak
  unidad_1/ejercicio_5/ejercicio_5_antoniak.pfc
Labels: Unidad 1 - Pascal

#823 solución Ejercicio 1 - Paredes
  unidad_3/mpi/ejercicio_1/ejercicio_1_paredes.cpp
Labels: Unidad 3 - MPI

#824 solución Ejercicio 2 - Paredes
  unidad_3/mpi/ejercicio_2/ejercicio_2_paredes.cpp
Labels: Unidad 3 - MPI
